<div class="content">
		<div class="wrap">
			<div class="clear"> </div>
			<!---start-about---->
			<div class="about">
				<div class="about-grids">
					<!--  -->
					<div class="service-content">
						<h3 style="font-family:'Source Sans Pro', sans-serif;font-size:30px;">Our Airlines</h4><h5> </h5><div class="clear"> </div><br/>
						

							<ul>
								
								<li>
									<p id="title">Air Mandalay</p>
									<p id="body">
										<h4 style="text-align:justify;color:black;">Air Mandalay Limited, the first regional joint venture airline in Myanmar, was formed on October 6, 1994. The shareholders are the national carrier Myanma Airways, Air Mandalay Holdings Pte Ltd of Singapore and Premier Airlines Pte Ltd of Malaysia. They currently fly to all major destinations within in Myanmar and to Chiang Mai in Thailand with (Two) ATR-72-212 and (One) ATR 42-320, which are both built by Aerospatiale of France and Alenia of Italy and powered by Canadian-built Pratt & Whitney engines. Air Mandalay's aircraft are maintained to European JAR 145 standards. All aircraft in Air Mandalay's fleet are inspected twice a year by French DGAC. For more information, please visit t his website(www.airmandalay.com).</h4>
									
									</p>
								</li>

								<li>
									<p id="title">Yangon Airway</p>
									<p id="body">
										<h4 style="text-align:justify;color:black;">Yangon Airways was established in October 199 6 as a domestic airline in a joint venture between Myanma Airways, the state-owned national airline a nd Krong-Sombat Co., of Thailand. In October 1997, MHE-Mayflower Co., acquired Krong-Sombat’s shares in Yangon Airways and since then the airline has evolved into a principal domestic airline operati ng scheduled and charter services from Yangon to 13 prime commercial and tourist destinations in Myanmar . Yangon Airways operates new ATR 72-212s powered by Pratt & Whitney PW-127 engines and fitted with state- of-the-art avionics system. The aircraft have an impressive exterior and appealing interior, a highly efficient performance and extra quiet operating conditions. They are configured to carry 70 passengers with 30-inch seat pitch. Yangon Airways’ aircraft are maintained to the highest standards of airworthiness requirements. For more information, please visit this website(www.yangonair.com).</h4>
									</p>
								</li>


								<li>
									<p id="title">Air Bagan</p>
									<p id="body">
										<h4 style="text-align:justify;color:black;">Air Bagan, the very first private airline in Myanmar 100% owned by Myanmar national, was established in 2004. Air Bagan started adopting the Safety Management System (SMS) recommended by ICAO as early as 2006. This recommended SMS was declared MANDATORY for all Myanmar AOC holders by Myanmar Department of Civil Aviation on 01/07/2010. In conjunction with adopting safety enhancement capability, Air Bagan, since March 2012 had started using e-ticketing system and it is the first domestic airline in Myanmar to use Computerised Reservation System. They are confident that their flight attendants and ground service personnel will be able to make you comfortable, and ensure that you are completely satisfied with Safe Flight. Better Services of Air Bagan. At present, Air Bagan is operating 19 domestic destinations and a regional charter flight to Chiang Mai with (Two) ATR-42 (44 capacity flight), (Two) ATR-72 (70 capacity flight) and (One) Fokker-100 (106 capacity flight). For more information, please visit this website(www.airbagan.com).</h4>
									</p>
								</li>

								<li>
									<p id="title">Air KBZ</p>
									<p id="body">
										<h4 style="text-align:justify;color:black;">Under the guidance of Myanmar Investment Commission, Air Kanbawza, otherwise known as AIR KBZ, was established in June 2010. The purpose of this establishment is to help the fellow existing airlines cater the growing demands of air travel in Myanmar. Taking off her very first commercial flight on April 2nd 2011, to this date AIR KBZ has unveiled 15 destinations altogether with (three) ATR 72-500 aircrafts. AIR KBZ aims to have more than 20 destinations in the near future, covering all the commercial centers of Myanmar. For more information, please visit this website(www.airkbz.com).</h4>
									</p>
								</li>

								<li>
									<p id="title">Asian Wings</p>
									<p id="body">
										<h4 style="text-align:justify;color:black;">Asian Wings, having been incorporated since 17 September, 2010, as a private airline base d in Yangon International Airport - successfully inaugurated on 27 January, 2011. It currently offers regular flights operating to all major tourist destinations in Myanmar with (three) ATR 72-500 aircrafts and an Airbus A321. In the very near future, Asian Wings Airways will extend its wings to regional destinations through scheduled flights as well as chartered ones . For more information, please visit this website(www.asianwingsair.com).</h4>
									</p>
								</li>

								<li>
									<p id="title">Myanma Airways</p>
									<p id="body">
										<h4 style="text-align:justify;color:black;">Myanma Airways is the national airline of Myanmar, based in Yangon. It operates scheduled services to all major domestic destinations. Its main base is Yangon International Airport. The airline was founded by the government after independence in 1948 as Union of Burma Airways. It initially operated domestic services and international services were added in 1950. The name was changed to Burma Airways in December 1972, and to Myanma Airways on 1 April 1989 following the renaming of the country from Burma to Myanmar. International services were transferred to Myanmar Airways International, set up in 1993.</h4>
									</p>
								</li>

								<div class="clear"> </div>
							</ul>
						
							
						</div>
						
						<div class="clear"> </div>
					<!--  -->
				</div>
				<div class="clear"> </div>
			</div>

			<!---End-about---->
			<div class="clear"> </div>
			
	</div>
</div>

	<div class="clear"> </div>